<!DOCTYPE html>
<html class="core">
<head>
	<% include ./partials/head %>
</head>
<body>
	<% include ./partials/header %>

	<div class="demo-container demo-container--landscape">
			<div class="o-card o-card--landscape o-card--image-" data-o-component="o-card">
		
				<div class="o-card__content">
					<div class="o-card__meta">
						<a href="#" class="o-card__tag">Demo card tag</a>
					</div>
		
					<h2 class="o-card__heading"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
		
						<p class="o-card__standfirst">Bondholders pay government for the privilege of lending it money</p>
		
						<time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
				</div>
		
			</div>
		</div>
		
		<script src="//www.ft.com/__origami/service/build/v2/bundles/js?modules=o-date%40%5E2.8.0"></script>
 <ul>
 <% for(var i=0; i<articles.length; i++) {%>
   <li><b><a href=<%= articles[i].location.uri %> target="_blank"> <%= articles[i].title.title %></a></b><br>
   <%= articles[i].summary.excerpt %>...<br>
   <i><%= articles[i].editorial.byline %></i><p>
 </li>
 <% } %>
 </ul>

</body>
</html>
