<!DOCTYPE html>
<html class="core">
<head>
	<% include ./partials/head %>
</head>
<body>
	<% include ./partials/header %>

	<ul>
	<% for(var i=0; i<articles.length; i++) {%>
	<li><b><a href=<%= articles[i].location.uri %> target="_blank"> <%= articles[i].title.title %></a></b><br>
	<%= articles[i].summary.excerpt %>...<br>
	<i><%= articles[i].editorial.byline %></i><p>
	</li>
	<% } %>
	</ul>

</body>
</html>
